.headline_color{color: blue;}


.center{text-align: center;}


#center{text-align: center;}


.bg_color{background-color: gold;}


.font{font-size: 4rem; font-family: "times new roman", serif;}